<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Manager</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <%- include("header.ejs") %>
    
    <table>
        <% for(var i = 0; i < allTodos.length; i++) { %> 
        <tr>
            <td>
                <%= allTodos[i].title %> 
            </td>
        </tr>
        <% } %>
    </table>
    <%- include("footer.ejs") %>
</body>
</html>