<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrfToken" content="<%= csrfToken %>">
    <title>Todo Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <p class="py-2">Welcome to the TO-DO Manager</p>
            <p class="py-2">New here?
                 <a href='/signup'class="text-green-600">Sign-up now</a></p>
            <p class="py-2">Already have an account? <a href="/login "class="text-green-600">Sign-in</a></p>
              </div>
    </div>
</body>
</html>